.message-cloud {
  border-radius: 5px;
  padding: 2rem 1.5rem 2rem 1.5rem;
  p {
    margin-bottom: 0px;
  }
}

.white-bg {
  background-color: white !important;
}

#messages {
  margin-bottom: 1rem !important;
}