
<h1>My E-Travelbook</h1>
<p>Destinations by category and time of year</p>

<ul>
  <li>Lisbon – City break – Best in Spring</li>
  <li>Bali – Beach – Best in Summer</li>
  <li>Lapland – Nature – Best in Winter</li>
</ul>
