<div class="container" style="margin-top:5rem;">
  <h1>My E-Travelbook</h1>
  <p>Destinations by category and time of year</p>

  <ul>
    <% current_user.activities.each do |activity| %>
      <li><%=   activity.city %> - <%=  activity.category %>- <%=  activity.season %></li>
    <% end %>
  </ul>
</div>