<div class="container" style="margin-top:5rem;">
  <h1>My E-Travelbook</h1>
  <p>Destinations by category and time of year</p>

  <ul>
    <% current_user.travel_books.each do |travelbook| %>
      <li>
        <%= travelbook.activity.city %> - <%=  travelbook.activity.category %>- <%=  travelbook.activity.season %>
        <%= link_to "Delete", travel_book_path(travelbook), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>